<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Yellowtail&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Passion+One&family=Radio+Canada:wght@400;600;700&display=swap"
  rel="stylesheet"
/>

<header class="login-button">
  Logged in as Username
</header>

<div class="navbar">
  <div>
    <h1>PickTheDishes</h1>
  </div>
  <div class="title-container">
    <h2><a href='/'>ThaiDxpress</a></h2>
  </div>

</div>

