<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Yellowtail&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Passion+One&family=Radio+Canada:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header class="info-header-bar">
    <div class="header-logo">
      <p>PickTheDishes <i class="fa-solid fa-utensils"></i></p>
      <p class="pickup-option">Pickup &#10687 ASAP</p>
    </div>

    <div>
      <% if (!userID) { %>
        <form action="/users/login" method="POST" >
          <input type="text" placeholder="Enter User Id" class="login-input" name="user_id">
          <button type="submit" class="login-button">Login</button>
        </form>
      <% } else { %>
        <img class="country-img"src="https://www.clipartmax.com/png/full/153-1538428_canada-flag-canada-flag-round-png.png" height="20px" width="20px">
        <img class="user-img"src="https://cdn-icons-png.flaticon.com/512/149/149071.png" height="20px" width="20px">
        <p class="user-greeting">Hungry, Jason?</p>
        <form method="POST" action="users/logout"><button class="logout-button" type="submit">Logout</button></form>
      <% } %>
    </div>

</header>

<div class="navbar">
  <div id="title-container">
    <h2><a href='/'>ThaiDxpress</a></h2>
  </div>
</div>

