<header class="inside_header">
  <div class="navbar">
    <h1>ThaiDxpress</h1>
    <div>
      <a href="#">Home</a>
      <a href="#">Menu</a>
      <a href="#">Get direction</a>
    </div>
  </div>
</header>
