<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="main-header">
    <div class="main-title">
      ThaiDxpress
    </div>
    <div class="main-info-bar">
      <p>Get Directions</p>
      <p>Open Hours</p>
      <p>Contact Us</p>
    </div>
  </div>

  <div class="main-order-button">
    <button class="order-now-button">
      <p>PickTheDishes</p>
      <p>Order Now</p>
    </button>
  </div>

  <div>

  </div>

  <div>

  </div>

  <div>

  </div>

</body>

</html>
