<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="../vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../styles/main.css" type="text/css" />
  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/index.css" type="text/css" />

  <script type="text/javascript" src="../vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="../scripts/app.js"></script>

</head>

<body>
  <div class="main-header">
    <div class="main-title">
      ThaiDxpress
    </div>
    <div class="main-info-bar">
      <p>Get Directions</p>
      <p>Open Hours</p>
      <p>Contact Us</p>
    </div>
  </div>

  <div class="main-order-button">
    <button class="order-now-button">
      <p class="pick-dishes-name">PickTheDishes</p>
      <p class="order-now-name">Order Now</p>
    </button>
  </div>

  <div class="about-us">
    <p>About Us</p>
  </div>

  <div class="get-directions">
    <p>Get Directions</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83388.44175465884!2d-123.11751391160513!3d49.22163585425562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717f6caeefa7%3A0xc6093c9f802c474!2sThai%20Express%20Restaurant%20Vancouver!5e0!3m2!1sen!2sus!4v1651965893372!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="open-hours">
    <p>Open Hours</p>
  </div>

  <div class="footer-placeholder">
    <p>Footer Placeholder</p>
  </div>

</body>

</html>
