<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="styles/main.css" type="text/css" />
  <link rel="stylesheet" href="styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="styles/index.css" type="text/css" />

  <script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

</head>

<body>
  <div class="main-header">
    <div class="main-title">
      ThaiDxpress
    </div>
    <div class="main-info-bar">
      <a href="#map-jump">Get Directions</a>
      <a href="#map-jump">Open Hours</a>
      <p>Contact Us</p>
    </div>
  </div>

  <div class="main-order-button">
    <button class="order-now-button">
      <p class="pick-dishes-name">PickTheDishes</p>
      <p class="order-now-name">Order Now <i class="fa-solid fa-right"></i></p>
    </button>
  </div>

  <div class="about-us">
    <p class="about-us-title">About Us</p>
    <p class="about-us-text">
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus."
    </p>
  </div>

  <div class="get-directions" id="map-jump">
    <p>Find Us</p>
    <p>CF Pacific Centre, 701 W Georgia St, Vancouver, BC V7Y 1G5, Canada</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9990.471993088391!2d-123.12992395618122!3d49.2825771429584!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6093c9f802c474!2sThai%20Express%20Restaurant%20Vancouver!5e1!3m2!1sen!2sus!4v1651987148626!5m2!1sen!2sus" width="1200" height="350" style="border: 3px solid white;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="open-hours">

      <div class="open-hours-time">

        <div class="contact-info">
          <p>Contact Us!</p>
          <p>604-420-6969</p>
          <p>Tik Tok</p>
          <p>Instragram</p>
        </div>
        <div class="hours-container">
          <p>Dining Hours</p>
        <table>
          <tr>
            <th></th><th>Lunch</th><th>Dinner</th>
          </tr>
          <tr class="weekdays">
            <td>Mon - Fri</td><td> 11:30am - 2:30pm</td><td> 5pm - 10pm</td>
          </tr>
          <tr class="weekends">
            <td>Sat - Sun</td><td>CLOSED</td><td> 4pm - 10pm</td>
          </tr>
        </table>
        </div>


      </div>
    </div>
  </div>


</body>

</html>
