<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="styles/main.css" type="text/css" />
  <link rel="stylesheet" href="styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="styles/index.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Yellowtail&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Passion+One&family=Radio+Canada:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script src="/scripts/index.js"></script>

</head>

<body>

  <div class="main-header">
    <div class="main-title">
      ThaiDxpress
    </div>
    <div class="main-info-bar">
      <a href="#map-jump">Find Us Here!</a>
    </div>
    <div class="main-order-button">
      <button class="order-now-button">
        <p class="pick-dishes-name">PickTheDishes</p>
        <p class="order-now-name">Order Now <i class="fa-solid fa-cart-arrow-down"></i></p>

      </button>
    </div>
  </div>



  <div class="about-us">
    <p class="about-us-title">Our Story</p>
    <p class="about-us-text">
      Thai Dxpress is one of the world’s largest Thai food franchises. Founded in 2004, Thai Dxpress took Canada by storm, growing to over 285 locations in the last decade. Tapping into a powerful, unfed demand for an authentic, fast and affordable Thai experience, Thai Dxpress has exploded in popularity in Canada to become not just the top Asian QSR in the country, but also one of the most recognizable restaurant brands in the nation. Thai Dxpress is a first-to-market Asian food franchise that offers savvy entrepreneurs the opportunity to capitalize on the ever-growing demand for authentic Asian foods while simultaneously benefiting from a time-tested brand. We’ve created a quick casual business that doesn’t compete in the overcrowded burgers-chicken-pizza space, while tapping into the market’s growing desire for a fast food experience that is healthy, affordable and fast.
    </p>
    <p class="about-us-text">
      Thai Dxpress is a first-to-market Asian food franchise that offers savvy entrepreneurs the opportunity to capitalize on the ever-growing demand for authentic Asian foods while simultaneously benefiting from a time-tested brand. We’ve created a quick casual business that doesn’t compete in the overcrowded burgers-chicken-pizza space, while tapping into the market’s growing desire for a fast food experience that is healthy, affordable and fast.
    </p>
  </div>

  <div class="get-directions" id="map-jump">
    <p class="find-us">Find Us</p>
    <p class="address">CF Pacific Centre, 701 W Georgia St, Vancouver, BC V7Y 1G5, Canada</p>
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9990.471993088391!2d-123.12992395618122!3d49.2825771429584!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6093c9f802c474!2sThai%20Express%20Restaurant%20Vancouver!5e1!3m2!1sen!2sus!4v1651987148626!5m2!1sen!2sus" width="1200" height="350" style="border: 3px solid white;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="open-hours">

      <div class="open-hours-time">

        <div class="contact-info">
          <p>Contact Us!</p>
          <p>604-420-6969</p>
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-tiktok"></i>
          <a href="https://github.com/tothenextcode/PickTheDishes"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="hours-container">
          <p>Dining Hours</p>
        <table>
          <tr>
            <th></th><th>Lunch</th><th>Dinner</th>
          </tr>
          <tr class="weekdays">
            <td>Mon - Fri</td><td> 11:30am - 2:30pm</td><td> 5pm - 10pm</td>
          </tr>
          <tr class="weekends">
            <td>Sat - Sun</td><td class="closed">CLOSED</td><td> 4pm - 10pm</td>
          </tr>
        </table>
        </div>


      </div>
    </div>
  </div>


</body>

</html>
