body {
  font-family: 'Radio Canada', sans-serif;
  margin: 0;
}
.order-container {
  display: flex;
  width: 100vw;
}

.order-section {
  border: 1px black solid;
  padding: 20px 40px;

}

.food-lists {
 width: 50vw;
}

.food {
  background: #f2f2f2;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.categories {
  position: sticky;
  align-self: flex-start;
  top: 5.4vh;
  width: 20vw;
}

.cart {
  position: sticky;
  align-self: flex-start;
  top: 5.4vh;
  width: 30vw;
}

/* The Modal (background) */
.modal-background {
  // visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(200,200,200); /* Fallback color */
  background-color: rgba(100,100,100,0.3); /* Black w/ opacity */
}
.hidden {
  visibility: hidden;
}


/* Modal Content */
.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 30%;
}

.food-in-cart {
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  p {
    margin: 10px
  }
}

/* The Close Button */
#add {
  background-color: orange;
  float: left;
  font-weight: bold;
}

#close {
  background-color: orange;
  float: right;
  font-weight: bold;
}

