body {
  font-family: 'Radio Canada', sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}
.order-container {
  display: flex;
  width: 100vw;
}

.order-section {
  padding: 20px 40px;

  .food-description p{
    margin-top:0;
    color: #595959;
  }

}

.food-lists {
  width: 50vw;

}

.food {
  background: white;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.categories {
  position: sticky;
  align-self: flex-start;
  top: 10vh;
  width: 20vw;
  background-color: white;
  padding-left: 0;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 14px;
}

ul {
  list-style-type: none;
  background-color: white;
}


li {
  margin: 1rem;
}

a:hover {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

.cart {
  position: sticky;
  align-self: flex-start;
  top: 10vh;
  width: 20vw;
  text-decoration: none;
  color: black;
  font-size: 1.17empx ;
  background-color: white;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 14px;

}

/* The Modal (background) */
.modal-background {
  // visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(200,200,200); /* Fallback color */
  background-color: rgba(100,100,100,0.3); /* Black w/ opacity */
}
.hidden {
  visibility: hidden;
}


/* Modal Content */
.modal {
  background-color: white;;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 40%;
  height: 25%;

  .modal-content{

    p.description-modal {
      color: #595959;
    }
  }

  .quantity-btn {
    display: flex;
    justify-content: end;
    height: 2rem;
    align-items: end;

    .add {
      width: 3rem;
      height: 1.5rem;
      background-color: #292F36;
    }

    .add:hover {
      background-color: black;
    }

    .plus {
      margin-right: 1rem;
      width: 2rem;
      height: 1.5rem;
      text-align: center;
    }

    .plus:hover {
      background-color: #e60000;
      cursor: pointer;
    }

    .minus {
      width: 2rem;
      height: 1.5rem;
      text-align: center;
    }
    .minus:hover {
      background-color: #e60000;
      cursor: pointer;
    }

    input {
      border: 0;
      text-align: center;
      width: 2rem;
      height: 1.5rem;

    }

  }

  .close-div {
    display: flex;
    justify-content: end;
  }

  button {
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    margin-top: -0.5rem;
  }

  button:hover {
    background-color: #e60000;
    cursor: pointer;
  }

  .close-checkout-button {
    display: flex;
    justify-content: end;

  }

  .modal-checkout {

      div {
        display: flex;
        flex-direction: row;


        .fa-solid {
          padding-top: 1rem;
          padding-right: 0.5rem;
        }

        .fas {
          padding-top: 1rem;
          padding-right: 0.5rem;
        }
      }
  }
}

.food-in-cart {
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: center;
  }


  p {
    margin: 10px;

  }
}

/* The Close Button */
#add {

  float: left;
  font-weight: bold;
}

#close {
  float: right;
  font-weight: bold;
}

.total-cost {
  border-top: 3px solid black;
  padding-top: 1rem;
  #total-price{
    margin-left: 64%;
  }

}

.checkout-button {
  margin-top: 2rem;
  width: 100%;
  height: 60px;
  color: white;
  background-color: red;
  border-radius: 12px;
  border: 0;
  font-size: 18px;
}

.timer {
  width: 10px;
  height: 10px;
  color: red;
}

.checkout-button:hover {
  background-color: #e60000;
  cursor: pointer;
}

.delete {
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 0;
}

.delete:hover {
  background-color: #d9d9d9;
  border-radius: 4px;
  border: 0;
}

.food-header {
  display: flex;
  justify-content: space-between;

}


