body {
  font-family: 'Radio Canada', sans-serif;
}
.order-container {
  display: flex;
}

.order-section {
  border: 1px black solid;
  padding: 20px 40px;

}

.food-lists {
 width: 60vw;
}

.food {
  background: #f2f2f2;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
}

.categories {
  position: sticky;
  align-self: flex-start;
  top: 10vh;
  width: 20vw;
}

.cart {
  position: sticky;
  align-self: flex-start;
  top: 10vh;
  width: 20vw;
}

/* The Modal (background) */
// .modal {
//   visibility: hidden;
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   // background-color: rgb(65, 65, 65); /* Fallback color */
//   // background-color: rgb(65,65,65); /* Black w/ opacity */
// }
.modal.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

/* Modal Content */
.modal {
  visibility: hidden;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 200px;
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 30%;
}

/* The Close Button */
#add {
  background-color: orange;
  float: left;
  font-weight: bold;
}

#close {
  background-color: orange;
  float: right;
  font-weight: bold;
}

