.inside_header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #95bf74;
};

.navbar {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 100vw;

    h1 {
      padding: 2rem;
      font-family: 'Fjalla One', sans-serif;
      font-size: 40px;
    }


    a {
      text-decoration: none;
      font-family: 'Yellowtail', cursive;
      font-size: 60px;
    }
};


#title-container {
  position: sticky;
  justify-content: center;
  top: 5.4vh;
  width: 20vw;
}

.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40px;
  background-color: ivory;
  position: fixed;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-family: 'Radio Canada', sans-serif;
      color: black;
      right: 0;
      top: 0;
      width: 180px;
      padding: 0 1rem;
      }

      .header-logo {
        display: flex;
        justify-content: start;
        width: 350px;

        p {
          padding-right: 1rem;
          font-family: 'Fjalla One', sans-serif;
        }

        .pickup-option {
          font-size: 14px;
          font-family: 'Radio Canada', sans-serif;
        }

    }
}
