@use 'variables';

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 200px;
  border: 6px solid black;
  background: none;
  top: 0;
}

.main-title {
  border: 6px solid black;
  background: none;
}

.main-info-bar {
  display: flex;
  border: 6px solid black;
  background: none;
}

.main-info-bar p {
  margin: 0 1rem;
}

.main-order-button {
  border: 6px solid black;
  background: none;
  display: flex;
  justify-content: center;
  @extend %padding-section;

}

.order-now-button {

}
