.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 2px solid red;
}

.main-title {
  border: 2px solid red;

}

.main-info-bar {
  border: 2px solid red;

}

.main-order-button {
  border: 2px solid red;

}

