@use 'variables';

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 300px;
  border: 0px solid black;
  background-image: url("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");


}

.main-title {
  font-size: 90px;
  border: 0px solid black;
  background: none;
  color: white;
  font-family: 'Yellowtail', cursive;

}

.main-info-bar {
  top: 15%;
  display: flex;
  border: 0px solid black;
  background: none;
  margin-top: 4.5rem;

  a {
    margin: 0 1rem;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;

  }

  a:hover {
    color: #e60000;
  }
}



.main-order-button {
  border: 0px solid black;
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 250px;
  background-image: url("https://images.unsplash.com/photo-1562565652-a0d8f0c59eb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80");


  @extend %padding-section;

}

.order-now-button {
  margin: auto;
  width: 300px;
  height: 100px;
  border: 0px solid black;
  border-radius: 14px;
  background-color: red;

}

.order-now-button:hover {
  box-shadow: 7px 6px 7px -2px rgba(0,0,0,0.85);
  -webkit-box-shadow: 7px 6px 7px -2px rgba(0,0,0,0.85);
  -moz-box-shadow: 7px 6px 7px -2px rgba(0,0,0,0.85);
  background-color: #e60000;
}

.pick-dishes-name {
  margin-top: 0.75rem;
  margin-left: -5rem;
  font-size: 20px;
  border: 0px solid black;
  color: white;
  font-family: 'Fjalla One', sans-serif;

}

.order-now-name {
  font-size: 40px;
  border: 0px solid black;
  margin-top: -1.50rem;
  color: white;
  font-family: 'Radio Canada', sans-serif;

}

.about-us {
  border: 0px solid black;
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}

.about-us-title {
  font-size: 60px;
  color: white;
  font-family: 'Radio Canada', sans-serif;
}

.about-us-text {
  border: 0px solid black;
  background: none;
  width: 60rem;
  height: 30rem;
  font-size: 20px;
  color: white;
  font-family: 'Radio Canada', sans-serif;
  max-height: 100vh;
}


.get-directions {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  width: 100vw;
  height: 750px;
  border: 0px solid black;
  background-image: url("https://images.unsplash.com/photo-1617093727343-374698b1b08d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  .find-us {
    font-size: 60px;
    border: 0px solid black;
    color: white;
    font-family: 'Radio Canada', sans-serif;
    margin: 2rem 0;

  }

  .address {
    font-size: 20px;
    border: 0px solid black;
    color: white;
    font-family: 'Radio Canada', sans-serif;
  }

  .map-responsive iframe{
    min-width: 20vw;
    max-width: 100vw;


  }

}


.open-hours {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  padding-left: 11rem;

    p {
      font-size: 20px;
      border: 0px solid black;
      color: white;
      font-family: 'Radio Canada', sans-serif;
  }

  .contact-info {
    position: relative;
    right: 7rem;
  }
}


.open-hours-time {
  display: flex;
  margin: -1rem 0;
  flex-direction: row;
  border: 0px solid black;
  color: white;
  margin: 1em;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;


}

.hours-container {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  font-family: 'Radio Canada', sans-serif;
  padding-left: 4rem;

  p {
    border: 0px solid black;
    height: 2.70rem;
    margin-bottom: 0;
  }
  table {
    padding-bottom: 4rem 0;
    border: 0px solid black;

    th {
      font-size: 20px;
    }

    .closed {
      text-align: center;
    }

    td {
      padding-right: 1rem;

    }
  }
}

.fa-brands {
  font-size: 30px;
  text-decoration: none;
  color: white;

}

.fa-brands:hover {
  text-decoration: none;
  color: orange;
}

