body {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

::-webkit-scrollbar {
  display: none;
}

.column h4 {
  font-family: 'Radio Canada', sans-serif;
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.orders {
  width: 25vw;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-radius: 14px;
}

.order {
  display: flex;
  flex-direction: column;
  width: 22vw;
  border: 1px solid grey;
  margin-top: 1rem;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 1rem 2rem;

    .order-id {
      font-size: 2rem;
    }

    .name {
      font-size: 1.8rem;
    }

  }

  .footer {
    display: flex;
    font-size: larger;
    justify-content: space-between;
    margin: 0 2rem;

    .start-time {
      justify-self: flex-start;
    }

    .end-time {
      justify-self: flex-end;
    }

    .complete-order {
      border: 0;
      border-radius: 4px;
      color: white;
      background-color: red;
      height: 30px;
      font-size: large;
      width: auto;

      :hover {
        background-color: blue;
        cursor: pointer;
      }
    }

  }
}

.hover {
  opacity: 0.4;
}

#modal-dialog {
  font-size: x-large;
  background-color: white;
  display: flex;
  flex-direction: column;
}
